<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <div class="container">
        <div class="box">
            <h1>Problemet med de stigende skovbrande</h1>
            <h2>Manglende overvågning</h2>
            <p>Som blandt andet er forårsaget af den globale opvarmning, mener vi, at der mangler overvågningsmetoder, som er pålidelige og tilstrækkeligt effektive til at opdage brande hurtigt nok til at forhindre omfattende skader. Skovbrande medfører omfattende ødelæggelser af naturlige økosystemer, som direkte resulterer i et tab af dyre- og plantearter samt alvorlige økonomiske konsekvenser.</p>
            <p>Hvordan kan man mindske CO2-udledningen samt tab af biodiversitet, der sker som følge af skovbrande?</p>
        </div>
    </div>
</body>
</html>
